.calc-container{
  background: #8080808f;
  width: 350px;
  height: 600px;
  border-radius: 15px;
  margin: auto;
}
.container-row{

    height: 90px;
    padding: 10px;
    width: 350px;
    margin-bottom: 10px;
}

.button{
background: #3e3d3d;
color: white;
height: 100%;
border-radius: 15px;
font-size: 45px;
border: solid 3px #b9b9b9;
text-align: center;
}

.screen {
background: #86a26d;
color: white;
height: 100%;
border-radius: 15px;
font-size: 30px;
border: solid 3px #b9b9b9;
text-align: right;
}
